<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="./rideshare.component.css"> 
    <head>
        <title>SmartCar Co.Sub_Menu</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script>
		
		function go(form) {
			array = $(form).serializeArray();
			json = {};
			
			for(var i = 0; i < array.length; i++)
			{
				json[array[i]['name']] = array[i]['value'];
			}
			
			console.log(json);
			
			$.post("http://localhost:8080/ride", json, function(){console.log("posted")});
			
		}
		
		</script>
    </head>
    <body>
        <div id="header"></div>
        <div id="header2"></div>
        <div id="container">
            <h1>RideShare Information</h1><br><br>
            <form action="wherever to send form" target="_blank">
                Full Name:<br>
                    <input type="text" name="name" id="name"><br><br>
                Age:<br>
                    <input type="text" name="age" id="age"><br><br>
                Date:<br>
                    <input type="date" name="date" id="date"><br><br>
                Time:<br>
                    <input type="time" name="time" id="time"><br><br>
                Pick up information:<br>
                <blockquote>Address<br>
                    <input type="text" name="address" id="address"><br>
                City<br>
                    <input type="text" name="city" id="city"><br>
                State<br>
                    <input type="text" name="state" id="state"><br>
                ZIP<br>
                    <input type="text" name="zip" id="zip"><br><br>
                </blockquote>
                Drop off information:<br>
                <blockquote>Address<br>
                    <input type="text" name="address2" id="address2"><br>
                City<br>
                    <input type="text" name="city2" id="city2"><br>
                State<br>
                    <input type="text" name="state2" id="state2"><br>
                ZIP<br>
                    <input type="text" name="zip2" id="zip2"><br><br>
                </blockquote>
                Preferences:
                <blockquote>
                Age of riders:<br><br>
					<input type="radio" name="range" value="none" checked>No Preference<br>
					<input type="radio" name="range" value="similar">Similar<br>
					<br><br>
                </blockquote>
            <input type="button" value="submit" onclick="go(this.form);">
            </form>
            <img src="../CarLogo.png" id="logo">
            <div id="clear"></div>
        </div>
    </body>
</html>