<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="./login.component.css"> 
    <head>
        <title>SuperCar Co.Login</title>
    </head>
    <body>
        <div id="header"></div>
        <div id="container" class="container">
            <img src="../CarLogo.png" id="logo">
            <br>SuperCar Login<br><br>
            <form action="wherever to send form" target="_blank">
                Email Address:<br>
                    <input type="email" name="email" id="email"><br><br>
                Password:<br>
                    <input type="password" name="pass" id="pass"><br><br>
            <input type="submit" value="submit" id="submit">
            </form>
            <div id="clear"></div>
        </div>
    </body>
</html>