<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="./ride-share-go.component.css"> 
    <head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src='controller2.js'></script>
        <title>SuperCar Co.RideShare Alerts</title>
    </head>
    <body>
        <div id="header"></div>
        <div id="header2"></div>
        <div id="container" class="container">
            <img src="../CarLogo.png" id="logo">
            <br><h1>SuperCar RideShare Alert Page</h1><br><br>
            <div id="window"><p id = "data"></p></div><br>
            Cell Contact: Phone number here<br>
            Emergency Contact: 911<br><br>
            Suggested Actions:<br>
            ...<br>
            <div id="clear"></div>
        </div>
    </body>
</html>