<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="./choice2.component.css"> 
    <head>
        <title>SuperCar Co.Sub_Menu</title>
    </head>
    <body>
        <div id="header"></div>
        <div id="container">
            <div id="first"><button type="button" name="" value="" class="css3button"><a href="../menu/menu.component.css">Info</a></button></div>
            <div id="second"><button type="button" name="" value="" class="css3button"><a href="../rideshare/rideshare.component.html">RideShare</a></button></div>
            <div id="clear"></div>
        </div>
    </body>
</html>