<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="./emergency.component.css"> 
    <head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src='controller.js'> </script>
        <title>SuperCar Co.Alert</title>
    </head>
    <body>
        <div id="header"></div>
        <div id="header2"></div>
        <div id="container" class="container">
            <img src="..\CarLogo.png" id="logo">
            <br><h1>SmartCar Alert Page</h1><br><br>
            Cell Contact: Phone number here<br>
            Emergency Contact: 911<br><br>
            Suggested Actions:<br>
            <p id = "data"> </p>
            <div id="clear"></div>
        </div>
    </body>
</html>