<!DOCTYPE html>

<!--
The idea is to include a seperate UI reaction for each event
being demonstrated.  This page would show more information about
where and when the driver drifted off of the road.  Obviously,
in this instance, the data will be fake, but it's just supposed
to give people an idea of how the software works.
-->

<html>
    <head>
        <link rel="stylesheet" href="emergency.component.css"/>
        <title> SuperCar Co. Alert Page</title>
    </head>
    
    <body>
        <div id="header"></div>
        <div id="header2"></div>
        <div id="container" class="container">
            <img src="../CarLogo.png" id="logo"/>
            <br><h1>SuperCar Alert Page</h1><br><br>
            <!-- Map showing where the incident occured -->
            <!-- This stuff is going to have to change -->
            Time of Event: [DATE AND TIME EVENT OCCURED]
            Cell Contact: [PHONE NUMBER HERE]<br>
            Emergency Contact: 911<br><br>
            Suggested Actions:<br>
            lahhh lahhh fill stuff here that is smart
            <div id="clear"></div>
        </div>
    </body>
</html>