<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="./rideshare-input.component.css"> 
    <head>
        <title>SuperCar Co.RideShare_Final</title>
    </head>
    <body>
        <div id="header"></div>
        <div id="header2"></div>
        <div id="container">
            <h1>RideShare Information</h1>
            <div id="imgStyle"><img src="../CarLogo.png" alt="SuperCar Logo" id="logo"></div><br>
            <h2>Time:<br>
            Place: <br></h2>
            <div id="clear"></div>
        </div>
    </body>
</html>